Joyfull Pandas

In [2]:
import pandas
import numpy as np

In [4]:
# Matrix Multiplication
# 1.3.1
a, b, c = 10, 10, 10
M1 = np.random.randn(a, b)
M2 = np.random.randn(b, c)

res = [[sum([M1[i][k] * M2[k][j] for k in range(M1.shape[1])]) for j in range(M2.shape[1])] for i in range(M1.shape[0])]
print((np.abs(M1@M2 - res) < 1e-15).all())

True

In [12]:
# 1.3.2
# Update Matrix
A = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [6, 8, 9]
])
# B_ij = Aij / sum(Aik)
B_gt = np.array([
    [1/6, 2/6, 3/6],
    [4/15, 5/15, 6/15],
    [6/23, 8/23, 9/23]
])
B = A/np.sum(A,axis=1,keepdims=True)
print((np.abs(B - B_gt) < 1e-15).all())

[[0.16666667 0.33333333 0.5       ]
 [0.26666667 0.33333333 0.4       ]
 [0.26086957 0.34782609 0.39130435]]
True

In [24]:
# 1.3.3
# ChiSquare statiscts
np.random.seed(0)
A = np.random.randint(10, 20, (8, 5))
B = np.sum(A, axis=0, keepdims=True) * np.sum(A, axis=1, keepdims=True)/np.sum(A)
print(np.sum((A - B)**2/B))
np.random.seed(None)

11.842696601945802

In [27]:
# 1.3.4
# Optimize Matrix Computation
np.random.seed(0)
m, n, p = 100, 80, 50
B = np.random.randint(0, 2, (m, p))
U = np.random.randint(0, 2, (p, n))
Z = np.random.randint(0, 2, (m, n))
def solution(B=B, U=U, Z=Z):
    L_res = []
    for i in range(m):
        for j in range(n):
            norm_value = ((B[i]-U[:,j])**2).sum()
            L_res.append(norm_value*Z[i][j])
    return sum(L_res)
%timeit -n 30 solution(B, U, Z)
def solution(B=B, U=U, Z=Z):
    return (((B**2).sum(1).reshape(-1,1) + (U**2).sum(0) - 2*B@U)*Z).sum()
%timeit -n 30 solution(B, U, Z)

15.9 ms ± 210 µs per loop (mean ± std. dev. of 7 runs, 30 loops each)
167 µs ± 4.59 µs per loop (mean ± std. dev. of 7 runs, 30 loops each)

In [10]:
# 1.3.5
# Longest Continuous Increasing subArray
a = np.array([3, 2, 1, 2, 3, 4, 6])
# Use np.diff to calculate the diff:
dif = np.r_[1, np.diff(a)!=1, 1]
# select nonzero part (cotinuous integer part) using index
nonzero = np.nonzero(dif)
# select maximum part
ret = np.diff(nonzero).max()
# print(dif)
# print(nonzero)
# print(ret)

Exercise 2

In [78]:
# 2.5.1
df = pandas.read_csv("./data/pokemon.csv")
pandas.set_option("display.max_rows", 50)
pandas.set_option("display.max_columns", 50)
# print(df.head())
# 1. check the sum of Hp, Attack, Defense Sp.Attack Sp.Defense Speed is Total
print("1.1:", (df.iloc[:, 5:].sum(axis=1, ) == df['Total']).all())
# 2. For those # duplicate, only remain the first one
# 2.a Find the unique type 1 number
print(f"2.a.1: Unique Type 1 {df['Type 1'].unique()}")
# 2.a Most 3 type 1 
print(f"2.a.2: Top3 Unique Type 1 {df['Type 1'].value_counts().index[:3]}")
# 2.b Find Type 1 and Type 2 Combination
print(f"2.b: Type1 and Type2 Combination {df.drop_duplicates(['Type 1', 'Type 2']).shape[0]}")
# 2.c Find Unseeable combination
full_comb = [i+" "+j if i!=j else i for i in df['Type 1'].unique() for j in df['Type 1'].unique()]
part_comb = [i+" "+j if not isinstance(j, float) else i for i, j in zip(df['Type 1'], df['Type 2'])]
diff = set(full_comb).difference(set(part_comb))
print(f"2.c: {len(diff)}")

# 3.a Extract Attack higher than 120, lower 50, 50, else mid
series = pandas.Series(df['Attack'].mask(df['Attack'] > 120, 'high').mask(df['Attack'] < 50, 'low').mask(
    (50 <= df['Attack']) & (df['Attack'] <= 120), 'mid'))

# 3.b Extract Type 1, replace and apply the all to upper case
series = pandas.Series(df['Type 1'].replace({i: str.upper(i) for i in df['Type 1'].unique()}))
series = pandas.Series(df['Type 1'].apply(lambda x: str.upper(x)))


# 3.c Find 6 attribute std, 
df['Deviation'] = pandas.Series(df[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].apply(lambda x: np.max((x - x.median()).abs()), 1))
df.sort_values("Deviation", ascending=False)

1.1: True
2.a.1: Unique Type 1 ['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying']
2.a.2: Top3 Unique Type 1 Index(['Water', 'Normal', 'Grass'], dtype='object')
2.b: Type1 and Type2 Combination 154
2.c: 170

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Deviation
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,215.0
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,207.5
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,190.0
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,155.0
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,145.0
...,...,...,...,...,...,...,...,...,...,...,...,...
143,132,Ditto,Normal,NaN,288,48,48,48,48,48,48,0.0
165,151,Mew,Psychic,NaN,600,100,100,100,100,100,100,0.0
255,236,Tyrogue,Fighting,NaN,210,35,35,35,35,35,35,0.0
206,191,Sunkern,Grass,NaN,180,30,30,30,30,30,30,0.0
271,251,Celebi,Psychic,Grass,600,100,100,100,100,100,100,0.0

In [79]:
# Exercise 2
np.random.seed(0)
s = pandas.Series(np.random.randint(-1, 2, 30).cumsum())
s.head()

0   -1
1   -1
2   -2
3   -2
4   -2
dtype: int64